Client/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Command" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Command" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataTablePersonRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_card" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTablePersonRow" nillable="true" type="tns:DataTablePersonRow" />
</xs:schema>